body {
  background: url("/windows95.jpg");
}

* {
  margin: 0 0;
  padding: 0;
  cursor: default;
  font-family: Tahoma;
  font-size: 12px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  background: transparent;
}

button:focus,
textarea:focus {
  outline: none;
}

textarea {
  padding: 5px 5px;
}

input,
textarea {
  cursor: text;
}

input[type="password"],
input[type="text"] {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  box-shadow: -1px -1px #808080, 0px -1px #808080, -1px 0px #808080,
    1px 1px white, -1px 1px white, 1px -1px white;
  font-size: 13px;
  font-family: Helvetica;
  line-height: 19px;
  min-width: 100%;
}

input:focus {
  outline: none;
}
