.buddy-list {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  box-shadow: -1px -1px #808080, 0px -1px #808080, -1px 0px #808080,
    1px 1px white, -1px 1px white, 1px -1px white;
  font-size: 13px;
  width: 95%;
  height: 85%;
  background: white;
  margin: 10px auto;
  overflow-y: scroll;
}
